.modal  //transparent background
  display: none
  position: fixed
  z-index: 10
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgba(0, 0, 0, 0.7)
  &-content
    color: #000
    position: relative
    width: 90%
    left:0
    bottom: -25%
    padding: 15px
    background-color: rgba(215, 215, 235, 0.9)
    border-radius: 30px
    box-shadow: 0 0 10px white
    &-header
      font-size: 1.2rem
      font-weight: bold
      margin-bottom: 10px
      &-close
        float: right
        font-size: 2rem
        font-weight: bold
    &-body
      font-size: 1.5rem
      max-height: 430px
      overflow: scroll
