///import css-variables from grid
@import 'grid'

body
  font-family: 'Montserrat', sans-serif
  background-color: #183153
  color: white
.backgroundmenu
  &.active
    background-color: transparent
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: block
.section
  text-align: center
  p
    line-height: 150%
  @media #{$s-u}
    h2: 1.2rem
    font-size: 1.2rem
  @media #{$l-u}
    h2: 1.4rem
    font-size: 1.4rem


#fp-nav,
.fp-slidesNav
  ul
    li
      a
        span
          background: #FFF !important

@import 'nav'


#presentation
  //background: linear-gradient(#183153, #234779) 
  background-image: url('../img/logo-s.png'), linear-gradient(#183153,#234779)
  background-position: center 65%
  background-repeat: no-repeat
  background-size: contain
  text-shadow: 0px -1px 10px #468DF2
  font-size: 1rem
  @media #{$s-u}
    font-size: 1.2rem
  @media #{$m-u}
    font-size: 1.8rem
    background-position: center 50%
  @media #{$l-u}
    font-size: 2.2rem
  .down
    position: absolute
    left: 0
    right: 0
    bottom: 10px
    font-size: 0.9rem
    animation: bounce
    animation-duration: 2s
    animation-iteration-count: infinite
    .downicon
      display: block
      width: 20px
      height: 20px
      background-image: url('../img/down.svg')
      left: 0
      right: 0
      margin: 0 auto

#solutions
  background: linear-gradient(#234779, #4a3491)

#tools
  background: linear-gradient(#4a3491, #1A516B)

#examples
  background: linear-gradient(#1A516B, #175D61)

#people
  // background: linear-gradient(#175D61, #3368C2)
  background: linear-gradient(#1A516B, #175D61)
  .carousel-cell
    width: 100%
    min-height: 350px
    height: auto
    margin-right: 10px
    @media #{$m-u}
      width: 70%
      min-height: 450px
    @media #{$l-u}
      width: 50%
      min-height: 500px
      margin-right: 130px
    img
      width: 80%
      max-width: 200px
      height: auto
      border-radius: 50%
    .social-network
      span
        margin-left: 10px
      & img
        width: 20px
        height: 20px
        border-radius: 0

.flickity-button
  background: rgba(255, 255, 255, 0.4)
.flickity-prev-next-button
  width: 30px
  height: 30px
.flickity-page-dots
  .dot
    background: #FFF
#email
  // background: linear-gradient(#3368C2, #5942BA)
  //background: linear-gradient(#175D61, #3368C2)

#link
  //background: linear-gradient(#5942BA, #201761)
  //background: linear-gradient(#3368C2, #5942BA)
  background: linear-gradient(#175D61, #3368C2)
  .follow-social
    margin-bottom: 20px
    span
      margin-right: 20px


//@import 'modal'