<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Document Tags View-->
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Resource-type" content="Document" />

	<!-- Primary Meta Tags -->
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
	<meta name="title" content="Emprendiendo Soluciones | Tulum Quintana Roo">
	<meta name="description"
		content="Emprendiendo Soluciones te proporciona las herramientas necesarias para el éxito de tu emprendimiento.">
	<meta name="author" content="Ernesto Valentin Caamal Peech" />
	<meta name="keywords"
		content="emprendiendo,soluciones,emprendedores,emprendimiento,emprendiendo,local,negocio,mujeres,empresarios,empresarias,mujer,emprendedora,diseño" />

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://emprendiendosoluciones.com/">
	<meta property="og:title" content="Emprendiendo Soluciones | Tulum Quintana Roo">
	<meta property="og:description"
		content="Emprendiendo Soluciones te proporciona las herramientas necesarias para el éxito de tu emprendimiento.">
	<meta property="og:image" content="https://storage.googleapis.com/emprendiendosoluciones/cover-social.jpg">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://emprendiendosoluciones.com/">
	<meta property="twitter:title" content="Emprendiendo Soluciones | Tulum Quintana Roo">
	<meta property="twitter:description"
		content="Emprendiendo Soluciones te proporciona las herramientas necesarias para el éxito de tu emprendimiento.">
	<meta property="twitter:image" content="https://storage.googleapis.com/emprendiendosoluciones/cover-social.jpg">

	<!-- External Libraries-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.css"
		integrity="sha512-TD/aL30dNLN0VaHVoh9voFlNi7ZuWQYtV4bkIJv2ulZ8mEEkZJ7IyGvDthMKvIUwzLmPONnjQlAi55HTERVXpw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.min.css"
		integrity="sha512-BiFZ6oflftBIwm6lYCQtQ5DIRQ6tm02svznor2GYQOfAlT3pnVJ10xCrU3XuXnUrWQ4EG8GKxntXnYEdKY0Ugg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

	<!-- Favicon-->
	<link rel="apple-touch-icon" sizes="57x57" href="<%= require('/src/img/favicon/apple-icon-57x57.png')%>">
	<link rel="apple-touch-icon" sizes="60x60" href="<%= require('/src/img/favicon/apple-icon-60x60.png')%>">
	<link rel="apple-touch-icon" sizes="72x72" href="<%= require('/src/img/favicon/apple-icon-72x72.png')%>">
	<link rel="apple-touch-icon" sizes="76x76" href="<%= require('/src/img/favicon/apple-icon-76x76.png')%>">
	<link rel="apple-touch-icon" sizes="114x114" href="<%= require('/src/img/favicon/apple-icon-114x114.png')%>">
	<link rel="apple-touch-icon" sizes="120x120" href="<%= require('/src/img/favicon/apple-icon-120x120.png')%>">
	<link rel="apple-touch-icon" sizes="144x144" href="<%= require('/src/img/favicon/apple-icon-144x144.png')%>">
	<link rel="apple-touch-icon" sizes="152x152" href="<%= require('/src/img/favicon/apple-icon-152x152.png')%>">
	<link rel="apple-touch-icon" sizes="180x180" href="<%= require('/src/img/favicon/apple-icon-180x180.png')%>">
	<link rel="icon" type="image/png" sizes="192x192" href="<%= require('/src/img/favicon/android-icon-192x192.png')%>">
	<link rel="icon" type="image/png" sizes="32x32" href="<%= require('/src/img/favicon/favicon-32x32.png')%>">
	<link rel="icon" type="image/png" sizes="96x96" href="<%= require('/src/img/favicon/favicon-96x96.png')%>">
	<link rel="icon" type="image/png" sizes="16x16" href="<%= require('/src/img/favicon/favicon-16x16.png')%>">
	<!--<link rel="manifest" href="<%= require('/src/img/favicon/manifest.json')%>">-->
	<meta name="msapplication-TileColor" content="#183153">
	<meta name="msapplication-TileImage" content="<%= require('/src/img/favicon/ms-icon-144x144.png')%>">
	<meta name="theme-color" content="#183153">

	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-PJZJRVH');</script>
	<!-- End Google Tag Manager -->
</head>

<body style="background: #183153;">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJZJRVH" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<header>
		<div class="container">
			<p class="logo" style="opacity: 0;">
				<%= htmlWebpackPlugin.options.title %>
			</p>
			<nav>
				<button class="hamb hamb-slider hide-up-l" type="button">
					<span class="hamb-box">
						<span class="hamb-inner"></span>
					</span>
				</button>
				<ul class="menu hide-up-l">
					<li data-menuanchor="inicio"><a href="#inicio">Inicio</a></li>
					<li data-menuanchor="who"><a href="#who">¿Quiénes somos?</a></li>
					<li data-menuanchor="todo"><a href="#todo">¿Qué hacemos?</a></li>
					<li data-menuanchor="projects"><a href="#projects">Nuestro equipo</a></li>
					<li data-menuanchor="team"><a href="#team">Nuestras redes</a></li>
					<!-- <li data-menuanchor="contact"><a href="#contact">Contáctanos</a></li>
					<li data-menuanchor="qr"><a href="#qr">QR</a></li> -->
				</ul>
			</nav>
		</div>
	</header>

	<main id="fullpage">
		<section data-tooltip="Inicio" class="section" id="presentation">
			<div class="container">
				<h1>
					<%= htmlWebpackPlugin.options.title %>
				</h1>
				<p>¡Te ayudamos a alcanzar el éxito!</p>
				<div class="down" id="downmodal">
					Desliza
					<span class="downicon"></span>
				</div>
			</div>
		</section>
		<section data-tooltip="¿Quiénes somos?" class="section" id="solutions">
			<div class="container">
				<h2>¿Quiénes somos?</h2>
				<p>
					Somos un grupo de jóvenes emprendedores formando una consultora de servicios empresariales dedicada a
					ofrecerte las herramientas necesarias para asegurar el éxito en tu proceso de emprendimiento.
				</p>
			</div>
		</section>
		<section data-tooltip="¿Qué hacemos?" class="section" id="tools">
			<div class="container">
				<h2>¿Qué hacemos?</h2>
				<p>Acompañamos a emprendedores como tú, en cada paso del camino de sus proyectos,
					colaboramos de forma activa, realizando los ajustes necesarios para la transformación estratégica,
					significativa y efectiva de tu emprendimiento.
				</p>
			</div>
		</section>
		<!-- <section data-tooltip="Nuesros proyectos" class="section" id="examples">
			<div class="container">
				<h2>Nuestros proyectos</h2>
			</div>
		</section> -->
		<section data-tooltip="Nuestro equipo" class="section" id="people">
			<div class="container">
				<h2>Nuestro equipo</h2>
				<div class="carousel" data-flickity='{ "autoPlay": true, "prevNextButtons": false, "adaptiveHeight": true }'>
					<div class="carousel-cell">
						<img data-src="<%= require('/src/img/profile-valen.jpg') %>" alt="Valentin foto" id="profile-valen">
						<p>Ernesto Valentin Caamal Peech</p>
						<div class="social-network">
							<!-- <span><a href="https://www.facebook.com/Ernesto.Valentin.Caamal.Peech" target="_blank"><img
										src="/src/img/social-facebook.svg" alt="Facebook Link"></a></span> -->
							<span><a href="https://www.instagram.com/ernestovalent/" target="_blank"><img
										src="<%= require('/src/img/social-instagram.svg') %>" alt="Instagram Link"></a></span>
							<!-- <span><a href="https://www.linkedin.com/in/ernestovalentincaamalpeech/" target="_blank"><img
										src="/src/img/social-linkedin.svg" alt="Linkedin Link"></a></span> -->
						</div>
					</div>
					<div class="carousel-cell">
						<img data-src="<%= require('/src/img/profile-roger.jpg') %>" alt="Roger foto" id="profile-roger">
						<p>Roger Alfonso Hernandez Rodriguez</p>
						<div class="social-network">
							<!-- <span><a href="https://www.facebook.com/rogeralfonso.hernandezrodriguez" target="_blank"><img
										src="/src/img/social-facebook.svg" alt="Facebook Link"></a></span> -->
							<span><a href="https://www.instagram.com/roger.hdz.rodriguez/" target="_blank"><img
										src="<%= require('/src/img/social-instagram.svg') %>" alt="Instagram Link"></a></span>
						</div>
					</div>
					<div class="carousel-cell">
						<img data-src="<%= require('/src/img/profile-leny.jpg') %>" alt="User" id="profile-leny">
						<p>Leny Loria</p>
						<div class="social-network">
							<!-- <span><a href="https://www.facebook.com/lee.lo.7902" target="_blank"><img
										src="/src/img/social-facebook.svg" alt="Facebook Link"></a></span> -->
							<span><a href="https://www.instagram.com/lenyloria/" target="_blank"><img
										src="<%= require('/src/img/social-instagram.svg') %>" alt="Instagram Link"></a></span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- <section data-tooltip="Contáctanos" class="section" id="email">
			<div class="container">
				<h2>Siguenos</h2>
			</div>
		</section> -->
		<footer data-tooltip="QR" class="section fp-auto-height" id="link">
			<div class="container">
				<h4>Siguenos en redes sociales</h4>
				<div class="follow-social">
					<span><a href="https://www.facebook.com/EmprendiendoSoluciones" target="_blank"><img
								src="<%= require('/src/img/social-facebook.svg') %>" alt="Facebook Link"></a></span>
					<span><a href="https://www.instagram.com/emprendiendosoluciones/" target="_blank"><img
								src="<%= require('/src/img/social-instagram.svg') %>" alt="Instagram Link"></a></span>
				</div>
			</div>
		</footer>
	</main>
	<!-- 
	<section class="modal">
		<div class="modal-content">
			<div class="modal-content-header">
				<div class="modal-content-header-close">&times;</div>
				Biografia
			</div>
			<div class="modal-content-body">
				Hola soy un modal, mucho gusto en...
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto minus quod tenetur reprehenderit, quas vel.
				Cupiditate optio, officia vitae, facilis iure corporis ab voluptas accusantium assumenda adipisci dolorem
				blanditiis odio?
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptas doloremque ab! Necessitatibus aliquam
				maxime soluta placeat velit repudiandae sit! Velit alias placeat rem quo asperiores assumenda vitae aperiam
				blanditiis.
				blanditiis odio?
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptas doloremque ab! Necessitatibus aliquam
				maxime soluta placeat velit repudiandae sit! Velit alias placeat rem quo asperiores assumenda vitae aperiam
				blanditiis.
				Hola Soy vale
				Aqui es donde el lorem se desborda
				lorem sit
			</div>
		</div>
	</section> -->

	<div class="backgroundmenu"></div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"
		integrity="sha512-gSf3NCgs6wWEdztl1e6vUqtRP884ONnCNzCpomdoQ0xXsk06lrxJsR7jX5yM/qAGkPGsps+4bLV5IEjhOZX+gg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.pkgd.min.js"
		integrity="sha512-cA8gcgtYJ+JYqUe+j2JXl6J3jbamcMQfPe0JOmQGDescd+zqXwwgneDzniOd3k8PcO7EtTW6jA7L4Bhx03SXoA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>